* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

header {
    background-color: lightgreen;
    position: absolute;
    height: 60px;
    width: calc(100% - 160px);
    position: fixed;
    top: 60px;
    display: flex;
    justify-content: space-between;
}

header menu {
    display: flex;
    align-items: center;
    gap: 48px;
}

header li {
    padding: 4px 8px;
    transition: .5s;
}

header li:hover {
    background-color: #FBDDC1;
    box-shadow: 0 4px 6px #0004;
}

body {
    padding: 0 80px;
    font-family: "Poppins", sans-serif;
}

main {
    background-color: plum;
    height: 700px;
}

footer {
    background-color: tomato;
    height: 526px;
}