* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

:root {
    --primary-color: #F07807;
    --secundary-color: #FBDDC1;
    --default-shadow: 0 4px 6px #0004;
    --default-padding: 0 80px;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--secundary-color);
}

header {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--default-padding);
}

header menu {
    display: flex;
    align-items: center;
    gap: 48px;
}

header li {
    padding: 4px 8px;
    transition: 0.5s;
}

header li:hover {
    background-color: var(--secundary-color);
    box-shadow: var(--default-shadow);
}

header button {
    height: 48px;
    width: 120px;
    background-color: var(--secundary-color);
    border: none;
    border-radius: 12px;
    box-shadow: var(--default-shadow);
}

section {
    height: 100vh;
    padding: var(--default-padding);
}

.home {
    background-image: url(./img/bg-home.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 64px;
}

.hero h2 {
    width: 558px;
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 64px;
}

.hero span {
    color: var(--primary-color);
}

.container-produtos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.produto {
    position: relative;
    display: flex;
    border-radius: 12px;
}

.adicionar {
    position: absolute;
    top: -18px;
    right: -18px;
    display: grid;
    place-content: center;
    height: 40px;
    width: 40px;
    background-color: var(--primary-color);
    border: 4px solid white;
    border-radius: 13px;
    font-size: 32px;
    color: white;
    opacity: 0;
    transition: .5s;
}

.produto:hover .adicionar {
    opacity: 1;
}

.animacao {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 12px;
}

.container-info {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    bottom: -36px;
    width: 100%;
    height: 36px;
    background-color: #0008;
    border-radius: 0 0 12px 12px;
    transition: .5s;
}

.produto:hover .container-info {
    bottom: 0;
}

.container-info p {
    width: 120px;
    font-size: 12px;
    font-weight: 300;
    color: white;
}

.container-info span {
    display: grid;
    place-content: center;
    width: 57px;
    height: 20px;
    background-color: var(--primary-color);
    font-size: 12px;
    border-radius: 4px;
    color: white;
}

.cardapio {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.titulo-secao {
    display: flex;
    align-items: center;
    gap: 24px;
}

.titulo-secao h3 {
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: 500;
    text-transform: uppercase;
}

.cardapio-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 260px;
    border-bottom: 2px solid var(--secundary-color);
}

.cabecalho-item {
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
}

.cabecalho-item h4,
.cabecalho-item a {
    font-size: 1.5rem;
    font-weight: 600;
}

.cardapio-item.bebidas {
    border: none;
}

.cardapio-item.bebidas .produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    padding: 16px;
    transition: .5s;
}

.cardapio-item.bebidas .produto:hover {
    box-shadow: 2px 2px 8px #bbb;
}

.cardapio-item.bebidas .valor {
    font-size: 1rem;
    color: var(--primary-color);
    width: 100%;
}

.cardapio-item.bebidas .descricao {
    font-size: 0.5rem;
    width: 100%;
}

.servicos {
    background-color: lightpink;
}

footer {
    height: 525px;
    background-color: tomato;
}